#foodListPix {
  display: flex;
  height: 150px;
  justify-content: center;
  font-size: larger;
}
#foodList {
  padding-right: 100px;
}
#foodList li {
  padding: 3px;
}
#videoGamesPix {
  display: flex;
  height: 150px;
  justify-content: center;
  justify-content: space-evenly;
}

#food,
#videoGames,
#netflix {
  border: solid;
  border-radius: 1rem;
  margin: 100px;
}

#clickOnNames {
  text-align: center;
}

#netflixList {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
}
#netflixShows,
#netflixMovies {
  flex-direction: row;
}

#submitButton {
  height: 2rem;
  width: 8rem;
  font-weight: 600;
  background-color: #ffbfe2;
  border-radius: 0.25rem;
}

#submitButton:hover {
  background-color: #91c1e5;
  cursor: pointer;
}

#extraPix {
  display: flex;
  height: 700px;
  justify-content: center;
}

p {
  background-color: #91c1e5;
  font-size: 1.4rem;
  text-align: center;
}

header {
  text-align: center;
  border: solid;
  border-radius: 1em;
  background-color: #ffbfe2;
  margin: 100px;
}

nav {
  text-align: center;
  font-size: x-large;
  margin: -50px;
}

nav a {
  padding: 7px;
}

body {
  background-image: url(https://us.123rf.com/450wm/queertrade/queertrade1904/queertrade190400204/121998906-plaid-pattern-in-pastel-pink-blue-and-white-.jpg?ver=6;);
}

h2,
h3 {
  background-color: #ffbfe2;
  text-align: center;
}

h4 {
  font-size: larger;
  text-align: center;
}
ol {
  font-size: large;
}

ol li {
  padding: 4px;
}

form {
  text-align: center;
  font-size: larger;
  font-weight: 600;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: rgb(90, 35, 255);
}

a:hover {
  color: hotpink;
}

input {
  border-radius: 0.25rem;
  width: 145px;
  border: solid #91c1e5;
}

textarea {
  border: solid #91c1e5;
  border-radius: 0.25rem;
}
