#foodListPix {
  display: flex;
  height: 150px;
  justify-content: center;
  justify-content: space-evenly;
}
#videoGamesPix {
  display: flex;
  height: 150px;
  justify-content: center;
  justify-content: space-evenly;
}

header {
  text-align: center;
}

nav {
  text-align: center;
}
